nav{
    height: 125px;
    background: #6969f3 !important;
}

.wide-border{
    border-width: 4em;
}

.text-sizing{
    font-size: 25px;
    color: white;
	-webkit-text-stroke: 2px black;
}

.spacing{
    margin-top: 175px !important;
    margin-bottom: 50px;
}